.header{
    background-color: rgb(245, 245, 250);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.header__left{
    display: flex;
    padding: 10px;
}
.header__logo{
    width: 100px;
    height: 50px;
    margin-left: 10px;
    
}
.header__right{
    display: flex;
    
    padding-top: 20px;
    margin-right: 20px;
}
.icon{
    color: black;
}
nav{
    margin-right: 20px;
    color: black;
}