.name{
    background-image: url('https://freepngimg.com/thumb/shoes/28172-8-nike-shoes-image-thumb.png') ;
    padding: 10px;
}
.name1{
   
}
.heading{
   padding: 10px;
    text-align: center;
    color: blue;
    height: 100vh;
    margin-top:170px ;
    color: black;

   
}